.page
{
    border-left : 100px solid #555555;
    border-right : 100px solid #555555;
    padding: 20px;
    min-height: 700px
}
.Footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    height: 50px;
}